{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link href="{{ asset('assets/css/homeStyle.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('assets/css/listarKinesiologo.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<main>
    <h2>Historial de pacientes</h2>
    <div class="activos">
        <h4>Paciente con los que trabaja</h4>
        {% for historia in historial %}
            {% if historia.estado == true %}
                <span class="nombre">Nombre: {{ historia.paciente.nombre }}</span>
                <span class="edad">Edad: {{ historia.paciente.edad }}</span>
                <span class="calificacion"><a href="{{ path('calificacion', {'paciente': historia.paciente.id}) }}">Ver Calificación del paciente</a></span>
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <div class="terminado">
        <h4>Pacientes con los que ya no trabaja</h4>
        {% for historia in historial %}
            {% if historia.estado == false %}
                <span class="nombre">Nombre: {{ historia.paciente.nombre }}</span>
                <span class="edad">Edad: {{ historia.paciente.edad }}</span>
                <span class="calificacion"><a href="{{ path('calificacion', {'paciente': historia.paciente.id}) }}">Ver Calificación del paciente</a></span>
            {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock %}