<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KineTime{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div>
                <h2>Bienvenido a KineTime</h2>
                {% if error %}
                    <div class="alert alert-error">
                        {{ error.messagekey|trans(error.messageData, 'security')}}
                    </div>
                {% endif %}
                
                <form action="{{ path('loginKinesiologo') }}" method="POST">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    
                    <label for="username">Rut:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="_password" />

                    <input type="submit" value="Entrar" />
                </form>
            </div>
        {% endblock %}
    </body>
</html>
