<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KineTime{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />
            <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class='login'>
                <br/>
                <h2>Bienvenido a KineTime</h2>
                <br>
                <img src="http://comunasweb.com.ar/wp-content/uploads/2019/04/WEB-dia-del-kinesiologo-02.png" alt="W3Schools.com" style="width:300px;height:140px;">
                {% if error %}
                    <div class="alert alert-error">
                        {{ error.messagekey|trans(error.messageData, 'security')}}
                    </div>
                {% endif %}
                
                <form action="{{ path('loginKinesiologo') }}" method="POST">

                    <br>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <br>

                    <br>
                    <label for="username"><i class='fas fa-user'></i> Rut:</label>
                    <br>
                    <input class='login-input' type="text" id="username" name="_username" value="{{ last_username }}"/>
                    <br>
                    <label for="password"><i class='fas fa-lock'></i> Contraseña:</label>
                    <br>
                    <input class='login-input' type="password" id="password" name="_password" />
                    <br>

                    <input type="submit" value="Entrar" id="entrar"/>
                </form>
            </div>
        {% endblock %}
    </body>
</html>
