<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KineTime{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %} 
    </head>
    <body>
        <div class="contenedor">
            {% block header %}
                <header>
                    <div class="encabezado">
                        <a href="{{ path('home') }}"><img src="{{ asset('assets/img/Logo.png') }}" alt="logo"/></a>
                    </div>
                    <div class="navegacion">
                        <nav>
                            <div class="dropdown">
                                <button class="dropbtn">Paciente</button>
                                <div class="dropdown-content">
                                    <a href="{{ path('agregarPaciente') }}">Ingreso Nuevo Paciente</a>
                                    <a href="{{ path('listarPaciente') }}">Ficha Paciente</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Kinesiologo</button>
                                <div class="dropdown-content">
                                    <a href="{{ path('agregarKinesiologo') }}">Ingreso Nuevo Kinesiologo</a>
                                    <a href="{{ path('listarKinesiologo') }}">Kinesiologos</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Mensajería</button>
                                <div class="dropdown-content">
                                    <a href="#">Chats</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Ejercicios</button>
                                <div class="dropdown-content">
                                    <a href="#">Agregar Ejercicios</a>
                                    <a href="#">Listado de Ejercicios</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
